body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    margin-top: 15px;
}

.banner {
    width: 78%;
    margin-left: 120px;
}

#banner {
    display: flex;
    justify-content: space-around;
}

img#banner {
    margin-left: 200px;
    width: 70%;
    /* border-radius: 10%; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.9;
}

.btaweather {
    position: absolute;
    top: 50px;
    margin-left: 210px;
    color: black;
    width: 22%;
    display: flex;
    justify-content: flex-end;
    font-size: 7px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
}

div#divClimaBta {
    margin-right: 40px;
}

div#divClimaPrs {
    margin-left: 30px;
}

label {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 15px;
}

h2 {
    font-size: 25px;
    font-family: sans-serif;
    color: white;
}


/* Contenedor Forecast */

.forecast {
    display: flex;
    margin-top: 20px;
    justify-content: start;
    margin-left: 320px;
}

table {
    /* border-radius: 25px; */
    font-size: 11px;
    /* margin-left: 50px; */
    /* -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8); */
}

tr {
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
}

.visit {
    height: 0px;
    width: 100px;
    margin-left: 20px;
}

#three {
    font-family: sans-serif;
    /* font-size: large; */
    /* margin-left: 20px; */
    color: black;
    opacity: 0.6;
}

.top {
    display: grid;
    margin: 15px;
    margin-top: auto;
    margin-left: 50px;
}

img#visit {
    width: 140px;
    height: 195px;
}

img#uno {
    margin-top: 25px;
}

img#dos {
    margin-top: 20px;
}

.lyon {
    display: grid;
    width: 189px;
}

img#lyon {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    width: 100%;
}

img#location {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /* opacity: 0.6; */
    /* margin-left: 40px; */
    margin-top: 15px;
    /* margin: 15px; */
    width: 99%;
    height: 50%;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
}

#cityB {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 40%;
    margin-bottom: 25px;
    margin-top: 15px;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
}

#cityB2 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 40%;
    height: min-content;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.8);
}

td#temper {
    font-weight: bold;
    font-size: large;
    background: #7d65f9;
    border-radius: 10px;
    color: #ffffff;
}

td#temper2 {
    font-weight: bold;
    font-size: large;
    background: #dce8f4;
    border-radius: 10px;
    color: black;
}

.diaUno {
    width: 0%;
}

@media screen and (max-width: 250px) {
    .main-container {}
    .banner {}
}